# Flask server settings
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=True

# Paths to the machine learning models and metadata
ATTENDENSENET_MODEL_PATH=model/attendensenet_v9.keras
DENSENET_MODEL_PATH=model/baseline_densenet_85.keras
METADATA_PATH=model/metadata.json
ANNOTATIONS_DIR=annotations
